body {
    font-family: 'Lato', sans-serif;
}

p, h1, h2, h3 h4, h5 h6 {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Lato";
}

.nav-icon-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    border: none;
    text-align: center;
    z-index: 10001;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #505050;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    height: 100%;
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: 0;
    left: 5%;
    background-color: #f2d15f;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    z-index: 9999;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 39px;
    padding-bottom: 39px;
}

.navbar-nav a:hover::before {
    visibility: visible;
    z-index: 9999;
}

.line-span {
    font-size: 10px;
}

.navbar {
    height: 100px;
    box-shadow: none;
    position: relative;
}

.language-item {
    padding-left: 50px;
    padding-top: 35px;
}

.main-photo {
    background-image: url("../img/header.png");
    height: 546px;
    background-position: center;
    position: relative;
}

.main-text-wrapper {
    text-align: center;
    padding-top: 180px;
}

.main-header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 0px 10px black;
}

.main-para {
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
}

.more-btn {
    width: 170px;
    height: 47px;
    background-color: #f2d15f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464646;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    margin: 35px auto 0;
    transition: all .4s ease-in-out
}

.more-btn:hover {
    color: #464646;
    background-color: #F9E8B0;
}

.icons-container {
    position: relative;
    margin-top: 88px;
}

.icons-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
}

.icon-card {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0 50px 25px 50px;
    background-size: cover;
}

.card1 {
    background-image: url("../img/card-background.png");
}

.card2 {
    background-image: url("../img/icon-card-2.png");
}

.card3 {
    background-image: url("../img/icon-card-3.png");
}

.world-icon {
    padding-top: 40px;
}

.coffin-icon {
    padding-top: 27px;
}

.short-line {
    width: 19px;
    height: 2px;
    background-color: #f2d15f;
}

.my-card-header {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 12px;
    margin-right: 12px;
}

.lines-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-para {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.card-button {
    width: 170px;
    height: 47px;
    background-color: #f2d15f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464646;
    font-size: 15px;
    font-weight: 700;
    margin: 40px auto 0;
    transition: color .4s;
}

.card-button:hover {
    color: #464646;
    background-color: #F9E8B0;
}

.my-carousel {
    background-image: url("../img/background.png");
    height: auto;
    padding-bottom: 195px;
}

.carousel-header {
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    padding-top: 320px;
    text-align: center;
}

.carousel-para {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 35px;
}

.yellow-span {
    color: #f2d15f;
    font-weight: 700;
}

.carousel .carousel-indicators li {
    border-radius: 0;
    height: 41px;
    width: 41px;
    background-color: #f2f2f2;
    margin: 0 14px;
    text-indent: 0;
    color: #5a5a5e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.carousel-indicators .active::before {
    left: 0;
    display: inline-block;
    height: 10px;
    position: absolute;
    background: url('../img/candle.png');
    content: '';
    width: 100%;
}

.carousel .carousel-indicators .active {
    width: 52px;
    height: 52px;
    background-color: #f2d15f;
    color: #0e0e0f;
}

.carousel-indicators {
    bottom: -125px;
}

.my-item {
    background-color: #0f1216;
    padding: 60px 0;
    text-align: center;
}

.carousel-contact {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.carousel-link {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    color: #f2d15f;
    line-height: 26px;
}

.carousel-link:hover {
    color: #f2d15f;
}

.carousel-para {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.carousel-para {
    padding: 0 300px;
}

.transport {
    background-image: url("../img/yellow-background.png");
    padding: 70px 0 40px;
    background-position: center;
    background-size: cover;
}

.transport-header {
    color: #0e0e0f;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 25px;
}

.transport-link {
    color: #0e0e0f;
    font-size: 40px;
    font-weight: 700;
}

.transport-link:hover {
    color: #0e0e0f;
}

.transport-para {
    color: #0e0e0f;
    font-size: 15px;
    font-weight: 400;
    line-height: 31px;
    margin-top: 25px;
}

.transport-button {
    width: 237px;
    height: 47px;
    background-color: #0e0e0f;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin: 35px auto 0;
}

.transport-button:hover {
    color: #f2f2f2;
}

.contact {
    background-image: url("../img/background.png");
    padding: 40px 0;
}

.contact-header {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    display: block;
    margin: 5px 0;
}

.contact-link-thin {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    display: block;
    margin: 5px 0;
}

a.contact-link:hover, a.contact-link-thin:hover {
    color: #f2d15f;
}

.for-clients .contact-link-thin {
    margin: 3px 0;
}

.for-clients {
    margin-top: 60px;
}

.transport-column a.contact-link-thin {
    color: #c1c1c1;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 2px 0;
}

.transport-column a.contact-link-thin:hover {
    color: #ffffff;
}

.advice1 {
    background-image: url("../img/poradnik1.png");
}

.advice2 {
    background-image: url("../img/poradnik2.png");
}

.advice {
    position: relative;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 222px;
    margin-bottom: 20px;
}

.advice-overlay {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: rgba(6, 7, 8, .8);
}

.main-footer {
    background-color: black;
}

.footer-para {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    padding: 25px 0;
}

.circle {
    width: 72px;
    height: 72px;
background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    border-radius: 50px;
}

.phone-container {
    position: fixed;
    right: 25px;
    bottom: 18px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.mobile {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-top: 8px;
    text-shadow: 0px 0px 10px black;
}

.phone-container:hover .circle {
    background-color: #F9E8B0;
}

.icons-wrapper .col-lg-4 {
    padding: 0 10px;
}

.mobile-container {
    display: none;
}

@media only screen and (min-width:992px) and (max-width: 1200px) {
    .my-card-header {
        font-size: 15px;
    }
    .card-button {
        margin: 19px auto 0;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        height: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .line-span {
        display: none;
    }
    .language-item {
        padding-left: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-item {
        justify-content: center;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    .icon-card {
        padding: 0 20px 25px 20px;
    }
    .my-card-header {
        font-size: 14px;
    }
    .contact .col-md-6 {
        margin-bottom: 30px;
    }
    .card3 {
        background-position: right;
    }
    .carousel-para {
        padding: 0 100px;
    }
}

@media only screen and (min-width:575px) and (max-width: 767px) {
    .icons-container {
        display: none;
    }
    .mobile-container {
        display: block;
    }
    .icons-wrapper {
        position: static;
    }
    .icons-container {
        margin-top: 0;
    }
    .card1, .card3 {
        background-image: url("../img/icon-card-2.png");
    }
    .icon-card {
        margin-top: 50px;
    }
    .carousel-header {
        padding-top: 40px;
    }
    .my-item {
        padding: 40px 40px;
    }
    .carousel-contact, .carousel-link {
        font-size: 20px;
    }
    .carousel-para {
        padding: 0 50px;
    }
    .carousel-indicators .active::before {
        background: none;
    }
    .carousel .carousel-indicators .active {
        height: 41px;
        width: 41px;
    }
    .carousel .carousel-indicators li {
        margin: 0 5px;
    }
    .contact .col-md-6 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 574px) {

    .icons-container {
        display: none;
    }
    .mobile-container {
        display: block;
    }
    .icons-wrapper {
        position: static;
    }
    .icons-container {
        margin-top: 0;
    }
    .card1, .card3 {
        background-image: url("../img/icon-card-2.png");
    }
    .icon-card {
        margin-top: 50px;
    }
    .carousel-header {
        padding-top: 80px;
    }
    .my-item {
        padding: 20px;
    }
    .carousel-contact, .carousel-link {
        font-size: 16px;
    }
    .carousel-para, .carousel-contact {
        padding:0 15%;
    }
    .carousel-indicators .active::before {
        background: none;
    }
    .carousel .carousel-indicators .active {
        height: 41px;
        width: 41px;
    }
    .carousel .carousel-indicators li {
        margin: 0 5px;
    }
    .contact .col-md-6 {
        margin-bottom: 30px;
    }
    .main-header {
        font-size:40px;
    }
    .icon-card {
        padding: 0 20px 25px 20px;
    }
    .carousel-para {
        line-height:20px;
    }
    .my-item {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
    }
    .transport-link {
        font-size:33px;
    }
    .footer-para {
        text-align:center;
    }
    .contact {
        text-align:center;
    }
    .advice {
        margin: 0 auto 20px;
    }
    .contact {
        padding-bottom:0;
    }


}

.header-photo {
    background-image: url(../img/header.png);
    height: 192px;
    background-position: center;
    position: relative;
}
.header-text-wrapper {
    text-align: center;
    padding-top: 60px;
}
.icon {
    color: #EEDA52;
}
.jumbotron {
    background-image: url(../img/background.png);
}
.color-yellow, .card.card-cascade.wider .card-body.card-body-cascade {
background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
font-weight: 900;
border-color: rgba(241,231,103,1);
border-color: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
border-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
border-color: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
border-color: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
border-color: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
border-color: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #000;
    border-bottom: 1px solid #000;

}

.card-title {
    font-size: 1.2rem;
}
.my-shadow {
    box-shadow: 0px 0px 10px black;
}
html {
  scroll-behavior: smooth;
}
.text-gold {
color: #EEDA52;
}
.bg-img {
    background-image: url(../img/background.png);
}
.text-shadow {
    text-shadow: 2px 2px 10px black;
}
.collapse-content a:not(.collapsed):after {
    content: '';
}

.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    border-color: #000;
    box-shadow: #000;
}
.md-form input[type=date]:focus:not([readonly])+label, .md-form input[type=datetime-local]:focus:not([readonly])+label, .md-form input[type=email]:focus:not([readonly])+label, .md-form input[type=number]:focus:not([readonly])+label, .md-form input[type=password]:focus:not([readonly])+label, .md-form input[type=search-md]:focus:not([readonly])+label, .md-form input[type=search]:focus:not([readonly])+label, .md-form input[type=tel]:focus:not([readonly])+label, .md-form input[type=text]:focus:not([readonly])+label, .md-form input[type=time]:focus:not([readonly])+label, .md-form input[type=url]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #000;
}
a:hover {
    color: #222;
}
.card {
    height: 500px;
}

.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
    border-right-color: #000;
    border-bottom-color: #000;
    box-shadow: #000;
}
.cc-banner .cc-message {
    max-width: 85% !important;
}