.zoom {
   -webkit-transition: -moz-transform 1s ease-out; 
   -moz-transition: -webkit-transform 1s ease-out; 
   -o-transition: -o-transform 1s ease-out; 
    transition: transform 1s ease-out; 
}
.zoom:hover {
	transform: scale(1.1);
}

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #ECF0F1;
  /* display: none; */
}
#status {
	top: 40%;
	left: 50%;
	position: absolute;
}
.cursor {
	cursor: pointer;
}
.add {
  display: block;
	color: #fff;
  background: #FFEC00;
	padding: 10px;
  text-shadow: 0px 0px 10px black;
  font-size: 0.9rem;
  -webkit-transition: -moz-font-size 1s ease-out; 
  -moz-transition: -webkit-font-size 1s ease-out; 
  -o-transition: -o-font-size 1s ease-out; 
  transition: font-size 1s ease-out; 
}
.add:hover {
  font-size: 1rem;
	color: #fff;
}
.add-alt {
  display: block;
  color: #fff;
  background: #000;
  padding: 10px;
  font-size: 0.9rem;
  -webkit-transition: -moz-font-size 1s ease-out; 
  -moz-transition: -webkit-font-size 1s ease-out; 
  -o-transition: -o-font-size 1s ease-out; 
  transition: font-size 1s ease-out; 
}
.add-alt:hover {
  font-size: 1rem;
  color: #fff;
}
.delete_photo:hover {
    background-image: url(http://cynkmal.przedprojekt.com/application/views/images/x-button.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_photo img:hover {
    opacity: 0.4;
}
.br-sideleft {
    background-color: #000;
}
.br-menu-link.active {
  background: rgba(255,236,0,1);
  background: -moz-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,236,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffec00', endColorstr='#000000', GradientType=1 );
  text-shadow: 0px 0px 10px black;

}
.gallery {
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  font-size: 1.5rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(255,236,0,1);
  border-color: rgba(255,236,0,1);
  text-shadow: 0px 0px 10px black;
}
.gallery:hover {
  background-color: #000;
  border-color: #000;
}
.gallery:focus {
  box-shadow: 0 0 0 3px rgba(255, 236, 0, 0.5);
}
.modal {
  left: auto !important;
}
.delete_photo:hover {
    background-image: url(http://cynkmal.przedprojekt.com/application/views/images/x-button.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_photo img:hover {
    opacity: 0.4;
}
.navigations-blocks {
  background: rgba(255,236,0,1);
  background: -moz-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,236,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(255,236,0,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffec00', endColorstr='#000000', GradientType=1 );
  text-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  color: #fff;
  width: 220px;
  height: 220px;
}
.sk-double-bounce .sk-child {
  background: url('/assets/back/img/logoAdAwards.png');
  border-radius: 0%;
}
.sk-double-bounce {
  width: 83px;
  height: 83px;
}
.tx-ad {
  color: #ffec00;
}