.zoom {
   -webkit-transition: -moz-transform 1s ease-out; 
   -moz-transition: -webkit-transform 1s ease-out; 
   -o-transition: -o-transform 1s ease-out; 
    transition: transform 1s ease-out; 
}
.zoom:hover {
	transform: scale(1.1);
}

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #ECF0F1;
  /* display: none; */
}
#status {
	top: 40%;
	left: 50%;
	position: absolute;
}
.cursor {
	cursor: pointer;
}
.add {
	color: #adb5bd;
	background: #232A3C;
	padding: 10px;
}
.add:hover {
	color: #fff;
}
.delete_photo:hover {
    background-image: url(http://cynkmal.przedprojekt.com/application/views/images/x-button.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.delete_photo img:hover {
    opacity: 0.4;
}