body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    position: relative;
    box-shadow: none;
    text-transform: uppercase;
    height: 100px;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar__phone-box {
    margin-left: 13px;
}

.navbar__phone-link {
    color: #000;
}

.navbar__logo {
    max-width: 100%;
    height: auto;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #ffb610 !important;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar__phone-link:hover {
    color: #ffb610;
}

.navbar-nav {
    height: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar__dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1000;
}

.navbar__dropdown-link {
    width: 50%;
    height: 200px;
    display: flex !important;
    align-items: center;
    padding-left: 12%;
    color: #000;
    text-transform: none;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #fff;

}

.navbar__dropdown:hover .navbar__dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.navbar__dropdown-link:hover .navbar__link-title {
    color: #ffb610;
}

.navbar__dropdown-link:hover {
    color: #000;
}

.navbar__dropdown-link--sun {
    background-image: url('../img/background-face1.png');
}

.navbar__dropdown-link--health {
    background-image: url('../img/background-face2.png');
}

.navbar__dropdown-link--gray {
    background-color: #f5f5f5;
}

.navbar__dropdown-icon {
    margin-right: 15px;
}

.navbar__link-title {
    display: inline-block;
    margin: 0;
    transition: 0.5s;
}

/*------ slider ------*/

.main-header__background {
    background-image: url('../img/hero.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F4ECD7;
}

.main-header__shape1 {
    width: 103px;
    height: 9px;
    background: #ffb610;
    display: inline-block;
    margin-right: 14px;
}

.main-header__image {
    margin-bottom: 14px;
}

.main-header__subtitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.main-header__text {
    color: #000000;
    font-size: 22px;
    font-weight: 200;
    margin: 35px 0;
}

.main-header__title {
    font-size: 52px;
}

.main-header__btn {
    border-radius: 27px;
    background-color: #ffffff;
    padding: 10px 25px;
    color: #000;
    text-transform: uppercase;
}

.main-header__btn:hover {
    background-color: #ffb610;
    color: #fff;
}

.main-header__box-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carousel .carousel-indicators .active {
    background-color: #fff;
}

.carousel-indicators {
    bottom: 50%;
    transform: translateY(50%);
    margin: 0;
    left: unset;
    display: flex;
    flex-direction: column;
    right: 15px;
}

.carousel-indicators li {
    opacity: 1;
    background: transparent;
    border: 1px solid #fff;
    margin: 7px 0;
}


/*----- offer -----*/
.offer {
    padding: 80px 0;
    position: relative;
    overflow-x: hidden;
}

.offer__col {
    margin: 0 0 60px 0;
    display: flex;
    justify-content: center;
}

.offer__img {
    max-width: 100%;
    height: auto;
}

.offer__img-cell {
    display: block;
    position: relative;
}

.offer__background-text {
    position: absolute;
}

.offer__background-text--part1 {
    right: -37%;
    top: 26px;
}

.offer__background-text--part2 {
    left: -38%;
    top: 41%;
}

.offer__title {
    position: absolute;
    color: #000;
    font-size: 38px;
    left: -50px;
}

.offer__col--right {
    padding-top: 35px;
}

.offer__title--sun {
    bottom: 115px;
}

.offer__title--sun::before {
    content: "";
    position: relative;
    bottom: -102px;
    display: block;
    height: 5px;
    width: 59px;
    background-color: #ffb610;
}

.offer__title--fit {
    bottom: 75px;
}

.offer__title--fit::before {
    content: "";
    position: relative;
    bottom: -102px;
    display: block;
    height: 5px;
    width: 59px;
    background-color: #cbd444;
}

.offer__title--fig {
    bottom: 115px;
}

.offer__title--fig::before {
    content: "";
    position: relative;
    bottom: -102px;
    display: block;
    height: 5px;
    width: 59px;
    background-color: #ff7010;
}

.offer__title--hel {
    bottom: 75px;
}

.offer__title--hel::before {
    content: "";
    position: relative;
    bottom: -102px;
    display: block;
    height: 5px;
    width: 59px;
    background-color: #63dcaa;
}

.offer__btn {
    background: #000;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 30px;
    color: #fff;
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #000;
    transition: 0.5s;
}

.offer__btn:hover {
    background: transparent;
    color: #000;
}

/*----- about -----*/

.about {
    padding: 45px 0 60px 0;
}

.about__img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.about__text {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
}

.about__col--right {
    display: flex;
    align-items: center;
}

.about__header {
    text-align: center;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.about__header::before {
    content: "";
    display: block;
    background: #000;
    width: 62px;
    height: 5px;
    bottom: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*------ main footer ------*/

.main-footer {
    background-color: #f3ede9;
    padding: 50px 0 0 0;
}

.main-footer__logo {
    max-width: 100%;
    height: auto;
}

.main-footer__title {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
}

.main-footer__link {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
}

.main-footer__copyrights-bar {
    background: #fff;
    padding: 15px 0;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.main-footer__row {
    margin-bottom: 40px;
}
.bg-about {
    text-shadow: 0 0 10px white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.underscore {
    border-bottom: 5px solid black;
}
.title {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}
.recommended-offer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
}
.recommended-link {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 1.7rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 10px black;
}
.recommended-link:hover {
    color: #FFB610;
}
.bg-orange {
    background-color: #FFB610;
}
.box-offer {
    transition: 1s all;
    cursor: pointer;
}
.box-offer:hover {
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}
.box-img {
    height: 300px;
    display: flex;
    align-items:center;
}
.img-offer {
    margin: auto;
}
.img-offer {
    margin: auto;
    transition: 2s all;
}
.img-offer:hover {
    transform: scale(1.15);
}
.tx-orange {
    color: #ffb610 !important;
}
.md-form input[type="date"]:focus:not([readonly]), .md-form input[type="datetime-local"]:focus:not([readonly]), .md-form input[type="email"]:focus:not([readonly]), .md-form input[type="number"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form input[type="search"]:focus:not([readonly]), .md-form input[type="tel"]:focus:not([readonly]), .md-form input[type="text"]:focus:not([readonly]), .md-form input[type="time"]:focus:not([readonly]), .md-form input[type="url"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    color: #ffb610 !important;  
    -webkit-box-shadow: 0 1px 0 0 #ffb610;
    box-shadow: 0 1px 0 0 #ffb610;
    border-bottom: 1px solid #ffb610;
}
.md-form input[type="date"]:focus:not([readonly]) + label, .md-form input[type="datetime-local"]:focus:not([readonly]) + label, .md-form input[type="email"]:focus:not([readonly]) + label, .md-form input[type="number"]:focus:not([readonly]) + label, .md-form input[type="password"]:focus:not([readonly]) + label, .md-form input[type="search-md"]:focus:not([readonly]) + label, .md-form input[type="search"]:focus:not([readonly]) + label, .md-form input[type="tel"]:focus:not([readonly]) + label, .md-form input[type="text"]:focus:not([readonly]) + label, .md-form input[type="time"]:focus:not([readonly]) + label, .md-form input[type="url"]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #ffb610 !important;   
}
.form-check-input[type="checkbox"]:checked + label::before, label.btn input[type="checkbox"]:checked + label::before {
    border-right: 2px solid #ffb610;
    border-bottom: 2px solid #ffb610;
}
.brightness-dark { filter: brightness(0.0); }
.brightness-white { filter: brightness(1.0); }
.invert { filter: invert(100%); }
ul.stepper .step.active::before {
    background-color: #ffb610 !important;
}

.cursor {
    cursor: pointer;
}
.picked {
    background-color: rgba(0, 255, 0, 0.5);
    border-radius: 3px;
}

.date_ball {
    position: relative;
    height: 75px;
    width: 75px;
    background-color: #ffb610;
    border-radius: 50px;
    transition: 1s all;
}
.date_ball:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #ffb610;
}
.picked_ball {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); 
    background-color: rgba(0, 255, 0, 0.5);
}
.centered_ball {
    position: absolute;
    top: 15%;
    left: 20%;
    text-align: center;
    color: white;
}
.centered_ball b {
    font-weight: 900;
}
.info_page {
    height: 80vh;
    text-align: center;
    color: green;
    font-size: 2rem;
    padding-top: 20vh;
}
.big-tx {
    font-size: 6rem;
}