body {
  
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.navbar {
    z-index: 1040;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(255,212,0,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(255,212,0,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(255,212,0,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1);
  }
.side-nav {
    margin-top: 70px !important;
    margin-left: 13px;
    color: white;
     /* Fallback for web browsers that don't support RGBa */
     background-color: rgb(0, 0, 0);
     /* RGBa with 0.6 opacity */
     background-color: rgba(0, 0, 0, 0.6);
     /* For IE 5.5 - 7*/
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
     /* For IE 8*/
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  }
  
  @media (min-width: 1200px){
  .fixed-sn main {
      margin-left: 20% !important;
      margin-right: 20% !important;
    }
  }
main {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }
.side-nav .logo-wrapper {
  height: 140px;
  border: 0px !important;
}
.nav-item {
  color: black;
}
.navigations-blocks {
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFD401;
  height: 300px;
  width: 100%;
  font-size: 1.5rem;
  -webkit-transform: perspective(5px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  box-shadow: 0 0 8px white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.navigations-blocks:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFD401;
  height: 300px;
  width: 100%;
  -webkit-transform: perspective(5px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  box-shadow: 0 0 20px white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.side-nav .collapsible a:hover {
  color: #fff;
  font-weight: 300;
  opacity: 0.9 !important;
  font-size: 1.2rem;
  height: 100%;
  line-height: 36px;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(255,212,0,1) 100%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(255,212,0,1) 100%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(255,212,0,1) 100%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1);
}
.side-nav .collapsible a {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  height: 100%;
  line-height: 36px;
  padding: 10px;
}
.logo-wrapper{
  position: relative;
  bottom: 0px;
}
.fixed-sn main, .hidden-sn main {
  padding-top: 0!important; 
}
.icon-style {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
.icon-navbar {
  width: 32px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}


/*moj css - Dawid*/

.bg-grey {
  background-color: #E9ECEF; 
}
.bg-main {
	background: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.water-logo {
	background-image: url('../img/logo_CMS.png');
}
.side-nav {
	-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    height: 0px;
    transition-property: all;
    transition-duration: 1s;
}
.show-menu {
	height: 90%;
}
.side-nav .collapsible .fab, .side-nav .collapsible .far, .side-nav .collapsible .fas {
	font-size: 1.5rem;
}
.header-font-size {
	font-size: 1.2rem !important;
}
.menu-icon {
	max-width: 15%;
}
#bg-opacity {
    position: fixed;
    width: 100%;
    background-image: url(../img/bg-opacity.png);
    background-size: 100% 100%;
    z-index: 1000;
    height: 100%;
    opacity: 0.8;
}
.custom-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FDD200; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

.navi-header {
  background-color: #dee2e6;
  height: 2.5rem;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

.navi-header a {
  color: #000000;
}

.main-section {
  background-color: #E9ECEF;
  min-height: 100vh;
}
.gold-gradient {
  background: linear-gradient(40deg,#000,#FED300)!important;
}
.shadow-alt {
  box-shadow: 0 0 8px black !important;
}
.shadow-alt:hover {
  box-shadow: 0 0 20px black !important;
}
.btn-outline-dark:hover {
  border: 2px solid #E8C001!important;
  background-color: transparent!important;
  color: #E8C001!important;
}
.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
  -webkit-box-shadow: 0 1px 0 0 #FFD401;
  box-shadow: 0 1px 0 0 #FFD401;
  border-bottom: 1px solid #FFD401;
}
input {
  color: white !important;
}
.btn-hover-alt:hover {
  border: 2px solid #FFF!important;
  background-color: transparent!important;
  color: #FFF!important;
}
.md-form input[type=date]:focus:not([readonly])+label, .md-form input[type=datetime-local]:focus:not([readonly])+label, .md-form input[type=email]:focus:not([readonly])+label, .md-form input[type=number]:focus:not([readonly])+label, .md-form input[type=password]:focus:not([readonly])+label, .md-form input[type=search-md]:focus:not([readonly])+label, .md-form input[type=search]:focus:not([readonly])+label, .md-form input[type=tel]:focus:not([readonly])+label, .md-form input[type=text]:focus:not([readonly])+label, .md-form input[type=time]:focus:not([readonly])+label, .md-form input[type=url]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #FFD401;
}
button {
  cursor: pointer;
}
.counter-fields {
  background: #000; 
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
}

.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
  border-right: 2px solid #FFD401;
  border-bottom: 2px solid #FFD401;
}
.cursor {
  cursor: pointer;
}
.side-nav .collapsible, .custom-scrollbar {
  height: 100%;
}
.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
  background-color: #FED300 !important;
}

/*moj css - Karol*/

.main-background {
  background-image: url('../img/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-head {
  background-color: #66686B;
}
.login-form input[type=date]:focus:not([readonly]), .login-form input[type=datetime-local]:focus:not([readonly]), .login-form input[type=email]:focus:not([readonly]), .login-form input[type=number]:focus:not([readonly]), .login-form input[type=password]:focus:not([readonly]), .login-form input[type=search-md]:focus:not([readonly]), .login-form input[type=search]:focus:not([readonly]), .login-form input[type=tel]:focus:not([readonly]), .login-form input[type=text]:focus:not([readonly]), .login-form input[type=time]:focus:not([readonly]), .login-form input[type=url]:focus:not([readonly]), .login-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #212121;
    box-shadow: 0 1px 0 0 #212121;
    border-bottom: 1px solid #212121;
}
.login-form input[type=date]:focus:not([readonly])+label, .login-form input[type=datetime-local]:focus:not([readonly])+label, .login-form input[type=email]:focus:not([readonly])+label, .login-form input[type=number]:focus:not([readonly])+label, .login-form input[type=password]:focus:not([readonly])+label, .login-form input[type=search-md]:focus:not([readonly])+label, .login-form input[type=search]:focus:not([readonly])+label, .login-form input[type=tel]:focus:not([readonly])+label, .login-form input[type=text]:focus:not([readonly])+label, .login-form input[type=time]:focus:not([readonly])+label, .login-form input[type=url]:focus:not([readonly])+label, .login-form textarea.md-textarea:focus:not([readonly])+label {
    color: #212121;
}
.md-form .prefix.active, .md-form textarea~label.active, .md-form.md-outline .prefix:focus, .md-form.md-outline input[type=date]:focus:not([readonly])+label, .md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label, .md-form.md-outline input[type=email]:focus:not([readonly])+label, .md-form.md-outline input[type=number]:focus:not([readonly])+label, .md-form.md-outline input[type=password]:focus:not([readonly])+label, .md-form.md-outline input[type=search-md]:focus:not([readonly])+label, .md-form.md-outline input[type=search]:focus:not([readonly])+label, .md-form.md-outline input[type=tel]:focus:not([readonly])+label, .md-form.md-outline input[type=text]:focus:not([readonly])+label, .md-form.md-outline input[type=time]:focus:not([readonly])+label, .md-form.md-outline input[type=url]:focus:not([readonly])+label, .md-form.md-outline textarea.md-textarea:focus:not([readonly])+label {
    color: #000!important;
}
.login-form input[type=date]:focus:not([readonly])+label, .login-form input[type=datetime-local]:focus:not([readonly])+label, .login-form input[type=email]:focus:not([readonly])+label, .login-form input[type=number]:focus:not([readonly])+label, .login-form input[type=password]:focus:not([readonly])+label, .login-form input[type=search-md]:focus:not([readonly])+label, .login-form input[type=search]:focus:not([readonly])+label, .login-form input[type=tel]:focus:not([readonly])+label, .login-form input[type=text]:focus:not([readonly])+label, .login-form input[type=time]:focus:not([readonly])+label, .login-form input[type=url]:focus:not([readonly])+label, .login-form textarea.md-textarea:focus:not([readonly])+label {
    color: #212121;
}
input {
  color: black !important;
}
.button-collapse {
  cursor: pointer;
}
.dropdown-menu {
  background-color: black;
  width: 94%;
}
#searchInput {
  color: white !important;
}

.upload-zone {
  background-color: #DEE2E6;
  height: auto;
  padding: 10px;
}
.ck-editor__editable {
  min-height: 250px;
}
.btn, button, a {
  cursor: pointer !important;
}
.loader {
  font-size: 2.5rem;
}


.dataTables_filter{
    text-align: right;
  }
  
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  border-radius: 100px;
  position: relative;
}

.label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

input:checked + .label {
  background: #23BF08;
}

input:checked + .label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.checked {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 10px black;
  font-size: 3.5rem;
  cursor: pointer;
}