/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    .top-bar__container {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .navbar-style__brand-link {
        width: 60%;
    }
    .navbar-style__logo {
        max-width: 100%;
    }
    .navbar-style__nav-item {
        font-size: 15px;
        text-align: center;
        padding: 5px 0;
    }

    
    
    
    .header-carousel__carousel-indicators {
        margin-bottom: 0;
    }
    .header-carousel__carousel-indicators .header-carousel__single-indicator {
        margin: 0 5px;
    }
    .header-carousel__img {
        background-position: 62% 50%;
    }
    .header-carousel__title-box {
        top: 14%;
    }
    .header-carousel__title {
        font-size: 23px;
        margin-bottom: 5px;
        line-height: 31px;
    }
    .header-carousel__paragraph {
        margin-bottom: 15px;
        font-size: 11px;
    } 
    





    .article__column {
        margin-bottom: 30px;
    }
    .article__stars-logo {
        left: 5px;
    }
    .article__paragraph {
        line-height: 24px;
    } 
    .article__title {
        font-size: 30px;
    }





    .methods__link {
        width: 100%;
    }




    .reviews__img-frame {
        margin: 0 20px 0 0;
    }





    .contact__link-box {
        flex-wrap: wrap;
    }
    .contact__link {
        font-size: 18px;
        margin: 3px 0;
    }
    .contact__form-row {
        flex-wrap: wrap;
    }
    .contact__form-label {
        font-size: 10px;
    }
    .contact__submit-btn {
        margin: 6px auto 0 auto;
    }




    .footer__link-box {
        justify-content: center;
    }

    .footer__link {
        margin: 4px 10px;
    }

    .footer__contact-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__copyrights-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__copyrights-text {
        text-align: center;
        margin: 3px 0;
    }
}

/* Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) and (max-width: 767px) { 
    .navbar-style__nav-item {
        font-size: 15px;
        text-align: center;
        padding: 5px 0;
    }

    
    
    .header-carousel__img {
        background-position: 62% 50%;
    }
    .header-carousel__title-box {
        top: 17%;
    }
    .header-carousel__title {
        font-size: 29px;
        margin-bottom: 20px;
        line-height: 31px;
    }
    .header-carousel__paragraph {
        margin-bottom: 15px;
    } 




    .article__column {
        margin-bottom: 30px;
    }
    .article__paragraph {
        line-height: 24px;
    }




    .methods__link {
        width: 66%;
    }




    .reviews__subtitle, .reviews__date {
        text-align: right;
        display: block;
    }
    .reviews__subtitle {
        font-size: 18px;
        margin-bottom: 0;
    }
    .reviews__date {
        font-size: 13px;
    }
    .reviews__description {
        line-height: initial;
        font-size: 13px;
    }



    .contact__link {
        font-size: 21px;
    }




    .footer__link-box {
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
    .navbar-style__nav-item {
        font-size: 15px;
        text-align: center;
        padding: 5px 0;
    }

    
    


    .header-carousel__img {
        background-position: 62% 50%;
    }
    .header-carousel__title-box {
        top: 17%;
    }
    .header-carousel__title {
        font-size: 29px;
        margin-bottom: 20px;
        line-height: 31px;
    }
    .header-carousel__paragraph {
        margin-bottom: 15px;
    }



    .article__column {
        margin-bottom: 30px;
    }
    .article__paragraph {
        line-height: 24px;
    }




    .methods__link {
        width: 41%;
    }




    .footer__link-box {
        justify-content: center;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
    .navbar-style__nav-item {
        font-size: 15px;
    }

    
    
    .header-carousel__title-box {
        top: 17%;
    }
    .header-carousel__title {
        font-size: 29px;
        margin-bottom: 20px;
        line-height: 31px;
    }
    .header-carousel__paragraph {
        margin-bottom: 15px;
    }



    .article__paragraph {
        line-height: 24px;
    }



    .methods__link {
        width: 26%;
    }




    .reviews__subtitle, .reviews__date {
        text-align: right;
        display: block;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .header-carousel__img {
        background-position: 50% 6%;
    }
}

