.header-photo {
  height: 253px;
  background-image: url("../img/header_background.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat; 
}
.header-photo .row {
  height: 253px;
}
.header-title {
	font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    text-shadow: 0px 0px 10px black;
}
.header-subtitle {
	font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    text-shadow: 0px 0px 10px black;
}
.article__logo-alt {
  max-width: 50%;
}
.btn-pink {
  background-color: #750083 !important;
}
.pink-text {
  color: #750083 !important; 
}
.photo-right {
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: right;
}
.photos-right {
  position: relative;
  min-height: 100%;
  z-index: -1;
  overflow-y: hidden;
}

.photo-right img {
  max-width: 85%;
  }
.article-padding {
  padding: 60px 0;
}
.article-bg {
  background-image: url('../img/article_img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}
.text-shadow-white {
  text-shadow: 0px 0px 10px white;
}
.text-shadow-black {
  text-shadow: 0px 0px 10px black;
}
.accordion.md-accordion.accordion-5 .card .card-header {
  background-color: #750083;
}
.article--about {
  background-image: url(../img/about_background.jpg) !important;
}
.contact-section .contact .fab, .contact-section .contact .far, .contact-section .contact .fas {
  color: #D5B962;
}
.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #D5B962;
    box-shadow: 0 1px 0 0 #D5B962;
    border-bottom: 1px solid #D5B962;
}
.md-form input[type=date]:focus:not([readonly])+label, .md-form input[type=datetime-local]:focus:not([readonly])+label, .md-form input[type=email]:focus:not([readonly])+label, .md-form input[type=number]:focus:not([readonly])+label, .md-form input[type=password]:focus:not([readonly])+label, .md-form input[type=search-md]:focus:not([readonly])+label, .md-form input[type=search]:focus:not([readonly])+label, .md-form input[type=tel]:focus:not([readonly])+label, .md-form input[type=text]:focus:not([readonly])+label, .md-form input[type=time]:focus:not([readonly])+label, .md-form input[type=url]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #D5B962;
}
.card-img-top {
  height: 250px;
}
.promoting-card {
  height: 450px;
}
.collapse-content a.collapsed:after {
  content: 'Czytaj więcej';
}
.omnie-bg {
  background-image: url('../img/header_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}
.wpis-bg {
  background-image: url('../img/header_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}
.wpis-mg {
  margin-left: 6%;
  margin-right: 6%;
}
.card-wrapper .avatar {
  border-radius: 100%;
}
.blog__title {
  font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 575.98px) { 
  .mobile-person {
    max-width: 100% !important;
  }
  .mobile-text-size {
    font-size: 0.8rem;
  }
  .g-recaptcha {
    transform: scale(0.9);
  }
}

@media (max-width: 767.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 1199.98px) { }

ul {
    color: #747373;
    font-size: .9rem;
    font-weight: 400;
    text-align: left;
  }
.card {
  height: 100%;
}
.gallery {
  width: 100%;
}
a {
  color: #d7b46a;
}
.slider-subtitle {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
    max-width: 417px;
}