<h3>Nowy adres e-mailowy</h3>
<h3 style="font-weight: bold;">Dane kontaktowe:</h3>
<p>Imię: {first_name}</p>
<p>Nazwisko: {last_name}</p>
<p>Adres e-mail: {liame}</p>
<p>Przetwarzanie danych: {zgoda}</p>
<p>Zgoda elektroniczna: {zgoda2}</p>
<p>Zgoda telefoniczna: {zgoda3}</p>
<p>Temat: {subject}</p>
<p>Wiadomość: {message}</p>



