.top-bar {
    border-bottom: 1px solid #e1e1e3;
    padding: 7px 0;
}

.top-bar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
}

.top-bar__socialmedia-link {
    width: 23px;
    height: 23px;
    background-color: #682182;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.top-bar__icon {
    margin-right: 5px;
}

.top-bar__socialicon {
    font-size: 14px;
    color: #fff;
}

.top-bar__contact-link {
    color: #313131;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 49.05px;
    margin: 0 7px;
    transition-duration: 0.5s;

    &:hover {
        color: #7a7a7a;
    }
}




/* navbar style */

.navbar-style {
    box-shadow: none;
}

.navbar-style__list {
    margin: 0 0 0 auto;
}

.navbar-style__nav-item {
    color: #313131;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 0 5px;

    &:hover .nav-link {
        color: #d7b46a !important;
        text-shadow: 0px 0px 5px #d7b46a;
    }
}

.navbar-style__nav-link {
    height: 100%;
    padding: 0;
}





/* carousel */

.header-carousel__carousel-indicators {
    justify-content: flex-end;
    align-items: center;

    li {
        transition-duration: 0.5s;
        opacity: 1;
        margin: 0 7px;
    }

    .active {
        transform: scale(1.4);
        background-image: url("../img/carousel_activedot.png");
        background-position: 52% 52%;
        background-size: 48%;
        background-repeat: no-repeat;
    }
}

.header-carousel__img {
    height: 453px;
    background-image: url("../img/header_background.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.header-carousel__title-box {
    position: absolute;
    top: 23%;
    width: 44%;
}

.header-carousel__title {
    color: #d7b46a;
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;
}

.header-carousel__paragraph {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
    max-width: 417px;
    margin-bottom: 30px;
}

.header-carousel__btn {
    border-radius: 4px;
    background-color: #d7b46a;
    border: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 21.99px;
    text-transform: uppercase;
    padding: 6px 24px;
    cursor: pointer;
}

/*separators & buttons*/
.single__star-separator {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.single__star-line {
    width: 70px;
    height: 2px;
    background-color: #d7b46a;
    display: block;
    margin: 0 10px;
}

.single__star-separator--double {
    justify-content: center;
}



.big-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.big-separator__line {
    margin: 0 15px;
    height: 2px;
    background-color: #d7b46a;
    width: 35%;
}




.transparent-btn {
    background: none;
    border-radius: 2px;
    border: 2px solid #d7b46a;
    color: #d7b46a;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.99px;
    padding: 5px 8px;
    text-transform: uppercase;
}

.transparent-btn--big-separator {
    width: 100%;
}



/* articles style */
.article {
    padding: 60px 0;
}

.article--background {
    background-image: url("../img/article_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.article__column {
    position: relative;
    text-align: center;
}

.article__logo {
    max-width: 100%;
    height: auto;
}

.article__stars-logo {
    position: absolute;
    top: 0;
    left: -5px;
}

.article__title {
    color: #682182;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

.article__paragraph {
    color: #313131;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.94px;
    letter-spacing: -0.23px;
}

.article__img {
    max-width: 100%;
    height: auto;
}




/* methods style */

.methods {
    padding: 60px 0;
}

.methods__title {
    color: #682182;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 49.89px;
    margin: 0;
    text-align: center;
}

.methods__subtitle-box {
    text-align: center;
    margin-bottom: 30px;
}

.methods__subtitle {
    color: #313131;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.9px;
}

.methods__icon {
    margin-bottom: 30px;
    height: 83px;
    width: 80px;
}

.methods__paragraph {
    color: #535353;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.methods__link {
    width: 20%;
}





.article--about {
    background-image: url("../img/about_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.article__paragraph--about {
    color: #ffffff;
    line-height: 24.94px;
}

.article__title--about {
    color: #ffffff;
}

.article--about-column {
    padding-top: 60px;
    padding-bottom: 60px;
}

.article__person-img {
    max-width: 100%;
    height: auto;
}

.article__right-col {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}




.reviews {
    padding: 60px 0;
}

.reviews__title {
    color: #682182;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.reviews__cell {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #f1efed;
    padding: 15px;
    position: relative;
    margin: 15px 0;
    transition-duration: 0.5s;

    &:hover {
        background-color: #f2edeb;
    }
}

.reviews__person-data {
    display: flex;
    margin: 0 0 18px 0;
}

.reviews__img-frame {
    margin: 0 auto 0 0;
}

.reviews__person-img {
    max-width: 100%;
    height: auto;
}

.reviews__subtitle {
    color: #682182;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.reviews__date {
    color: #535353;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.reviews__description {
    letter-spacing: 0.11px;
    color: #535353;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.reviews__read-more-link {
    color: #535353;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    display: block;
    margin-left: auto;
    width: 110px;
    text-align: right;
}

.reviews__link {
    display: block;
    text-align: center;
    margin-top: 30px;
}




.contact {
    background-image: url("../img/contact_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.contact__container {
    max-width: 800px;
    margin: 0 auto;
}

.contact__title {
    color: #682182;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 49.79px;
    text-align: center;

}

.contact__link-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #d7b46a;
    background-color: #d7b46a;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
}

.contact__link {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 400;

    &:hover {
        color: #4e4e4e;
    }
}

.contact__icon {
    margin-right: 11px;
}

.contact__title--second-title {
    margin: 40px 0;
}

.contact__text-input {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #d7b46a;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 22px;
    height: 43px;
    padding: 12px;
    font-family: "Poppins", sans-serif;

    &::placeholder {
        color: #535353;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}

.contact__text-input--textarea {
    height: auto;
}

.contact__form-row {
    display: flex;
    justify-content: space-between;
}

.contact__submit-btn {
    border-radius: 2px;
    border: 2px solid #d7b46a;
    background-color: #d7b46a;
    color: #fff;
    padding: 6px 27px;
    text-transform: uppercase;
    cursor: pointer;
}

/* checkbox style */
.contact__personal-data-chechbox {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    height: 32px;

    &:hover .contact__checkmark {
        background-color: #ecececaf;
    }
}

.contact__form-label {
    color: #535353;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.98px;
    margin-left: 12px;
}

.contact__checkmark {
    position: absolute;
    transition-duration: 0.5s;
    top: 0;
    left: 0;
    width: 31px;
    height: 32px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #ffffff;
}

.contact__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 6px;
    width: 9px;
    height: 16px;
    border: solid #d7b46a;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.contact__personal-data-chechbox input:checked~.contact__checkmark:after {
    display: block;
}





.footer {
    padding: 60px 0 0 0;
    background-image: url("../img/footer_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0 10px;

    &:hover {
        color: #fff !important;
        text-shadow: 0px 0px 5px #fff;
    }
}

.footer__link-box {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer__logo-frame {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.footer__logo {
    margin: 0 auto;
    max-width: 100%;
}

.footer__contact-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.footer__contact-link {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 7px;
    transition-duration: 0.5s;
    color: #ffffff;
    line-height: 49.05px; 
    &:hover {
        color: #fff !important;
        text-shadow: 0px 0px 5px #fff;
    }
}

.footer__icon {
    margin-right: 5px;
}

.footer__socialmedia-link {
    width: 23px;
    height: 23px;
    background-color: #fff;
    border-radius: 50%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    &:hover {
        box-shadow: 0px 0px 5px #fff;
    }
}

.footer__socialicon {
    font-size: 14px;
    color: rgb(42, 44, 49);
}

.footer__separator {
    height: 2px;
    width: 100%;
    background: #434343;
    display: block;
    margin-top: 30px;
}

.footer__copyrights-box {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyrights-text {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.footer__author {
    color: #d7b46a;
}