<h3>Nowy adres e-mailowy</h3>
<h3 style="font-weight: bold;">Dane kontaktowe:</h3>
<p>Imię: {name}</p>
<p>Adres e-mail: {liame}</p>
<p>Przetwarzanie danych: {rodo}</p>
<p>Temat: {subject}</p>
<p>Wiadomość: {message}</p>



