body {
    font-family: unset;
}

.main-header {
    &__nav-box {
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
    }

    &__top-navbar {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__top-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(236, 236, 236);
        padding: 9px 0;
    }

    &__link-box {
        font-size: 14px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 85px;
    }

    &__logo-link {
        display: inline-block;
    }

    .navbar-nav {
        margin: 0;
    }

    &__navbar {
        box-shadow: none;
        padding: 0;
    }

    &__topnav-link {
        color: #f4b600;
        font-family: "Poppins", sans-serif;
        font-weight: 700;

        &:hover {
            color: #f4b600;
        }
    }

    &__mail-link {
        color: #000000;

        &:hover {
            color: #000000;
        }
    }

    &__lang {
        margin-left: 30px;
    }

    &__social-box {
        margin-left: auto;
    }

    &__social-link {
        background: #000;
        color: #fff;
        height: 26px;
        width: 26px;
        display: inline-flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        margin: 0 3px;

        &:hover {
            background: #fff;
            color: #000;
        }
    }

    .nav-item {
        height: 75px;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 10px;

        &::before {
            background-color: #f4b600;
            height: 3px;
            width: 100%;
            position: absolute;
            bottom: 2px;
            transition: 0.5s;
            content: "";
            transform: scaleX(0);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }

    .nav-link {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
    }


    &__background {
        background-image: url('../img/header-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__title {
        text-shadow: 1px 1px 6px rgba(29, 33, 48, 0.1);
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 78px;
        position: relative;
        margin-bottom: 230px;
        margin-top: 150px;

        &::before {
            background-color: #f4b600;
            content: "";
            height: 4px;
            width: 220px;
            display: block;
            position: absolute;
            bottom: -80px;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 30px;
    }

    &__option {
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

}

.search-box {
    background-color: #f4b600;
    padding: 30px;

    .slider-handle {
        border-radius: 50%;
        background-color: #fff;
        width: 18px;
        height: 18px;
    }

    .slider-fill {
        background-color: #fff;
        height: 5px;
    }

    .slider {
        background-color: #e6e6e663;
        height: 5px;
        margin-bottom: 10px;
    }

    &__input-box {
        display: flex;
        justify-content: center;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
    }

    &__input {
        background: none;
        border: none;
        box-shadow: none;
        color: #1f1919;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
        line-height: 25.99px;
        text-transform: uppercase;
        padding: 0;
        height: unset;
        width: unset;
        max-width: 80px;
        margin-bottom: 0;
    }

    &__input--left {
        text-align: right;
    }

    &__dash {
        margin-left: 15px;
    }

    &__title {
        color: #1f1919;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
    }

    &__select {
        display: block !important;
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .custom-control-label {
        color: #000000;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400;

        &::before {
            background: transparent;
            border-color: #fff;
        }

        &::after {
            background-color: #fff;
        }
    }

    .custom-control-input:checked~.custom-control-label::before {
        border-color: rgb(199, 199, 199);
        background: rgb(199, 199, 199);
    }

    &__btn {
        background-color: #000000;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        border: 2px solid #000000;
        transition: 0.5s;

        &:hover {
            background: transparent;
            color: #000;
        }
    }

    &__icon {
        margin-left: 10px;
    }
}

.default-section {
    padding: 50px 0;

    &__title {
        text-align: center;
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 600;
        position: relative;
        margin-bottom: 45px;

        &::before {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 140px;
            content: "";
            background-color: #f4b600;
        }
    }

    &__title--text-left {
        text-align: left;

        &::before {
            left: 0;
            transform: translateX(0);
        }
    }

    &__bold {
        font-weight: 600;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__cell {
        height: 350px;
        width: 31.33%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 1%;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &::before {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 63%);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            content: "";
            position: absolute;
        }

        &:hover .default-section__movable-panel {
            transform: translateY(0)
        }
    }

    &__cell-title {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 19px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        position: relative;
        z-index: 1000;
    }

    &__cell-title--dark {
        color: #000000;
        font-size: 22px;
    }

    &__movable-panel {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 65px;
        background-color: #fff;
        border: 1px solid #c2c2c2;
        transition: 0.5s;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2000;
        transform: translateY(120%);
    }

    &__panel-desc {
        color: #000000;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    &__price-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        background-color: #000000;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        border: 2px solid #000000;
        transition: 0.5s;

        &:hover {
            background: transparent;
            color: #000;
        }
    }

    &__btn--big {
        padding: 10px 30px;
    }

    &__price {
        color: #f4b600;
        font-family: "Poppins", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 25.82px;
        text-transform: uppercase;
    }

    &__big-btn {
        background-color: #f4b600;
        text-transform: uppercase;
        padding: 7px 20px;
        color: #1f1919;
        font-family: "Poppins", sans-serif;
        font-size: 17px;
        font-weight: 600;
        border: 2px solid #f4b600;
        width: 31.33%;
        margin: 40px auto 0 auto;
        display: block;
        text-align: center;

        &:hover {
            color: #f4b600;
            background: transparent;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__separator {
        background: rgb(194, 194, 194);
        height: 2px;
        width: 550px;
        margin: 0 auto 0 0;
    }

    &__text {
        color: #202020;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
    }

    &__recommended-cell {
        width: 24%;
        margin: 0 0.5%;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

        &:hover {
            box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
        }
    }

    &__recommended-img {
        height: 230px;
        background-position: center;
        background-size: cover;
    }

    &__recommended-title {
        padding: 13px;
        color: #000000;
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.default-section--background {
    background-color: #f7f7f7;
}

.carousel-box {
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__cell {
        border: 1px solid #d7d7d7;
        padding: 20px 40px;
        text-align: center;
        background: #ffffff;
        width: 32.33%;
        margin: 0 0.5%;
    }

    &__icon-frame {
        background: #000;
        width: 114px;
        height: 114px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__title {
        color: #000000;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 27.58px;
        text-transform: uppercase;
        position: relative;
        margin-top: 40px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            height: 3px;
            width: 90px;
            content: "";
            background: #f4b600;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__paragraph {
        color: #000000;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }

    .carousel-control-next {
        width: 50px;
        height: 50px;
        background-color: #f4b600;
        color: #000;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
    }

    .carousel-control-prev {
        width: 50px;
        height: 50px;
        background-color: #f4b600;
        color: #000;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        left: -25px;
    }


}

.tabs {
    &__box {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        background: #fff;
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
        margin: 0;
    }

    &__link {
        text-align: center;
        width: 50%;
        color: #000000;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 700;
        height: 68px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        cursor: pointer;
    }

    &__link-active {
        background-color: #f4b600;
    }

    &__content {
        padding: 25px;
        display: none;
    }

    &__content-active {
        display: block;
    }

    &__title {
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-weight: 600;
        height: 70px;
        margin-bottom: 0;
    }

    &__input::placeholder {
        color: #000000;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
    }

    &__input {
        border: 1px solid #cccccc;
    }

    &__textarea {
        border: 1px solid #cccccc;
    }

    &__textarea::placeholder {
        color: #000000;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
    }

    &__separator {
        display: block;
        height: 1.5px;
        background: #f4b600;
        width: 130px;
        margin-bottom: 30px;
    }

    &__smlink {
        color: #000000;

        &:hover {
            color: #f4b600;
        }
    }

    &__text {
        color: #000000;
        font-family: "Lato";
        font-size: 17px;
        font-weight: 400;
        display: block;
        letter-spacing: -0.21px;
        margin-bottom: 70px;
    }

    &__bold-text {
        color: #000000;
        font-family: "Lato";
        font-size: 25px;
        font-weight: 700;
        display: block;
        margin-bottom: 70px;
    }
}

.newsletter {
    background-color: #f4b600;
    padding: 28px;
    display: flex;
    background-image: url('../img/newsletter-shape.png');
    background-position: center right;
    background-repeat: no-repeat;
    justify-content: space-between;

    &__input::placeholder {
        color: #343434;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
    }

    &__title {
        color: #000000;
        font-family: "Poppins";
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    &__input {
        margin-right: 30px;
        height: 48px;
        margin-bottom: 0;
        padding-left: 10px;
    }

    &__input::placeholder {
        color: #343434;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
    }

    &__submit {
        background-color: #000000;
        text-transform: uppercase;
        border: 2px solid #000;
        color: #fff;
        padding: 4px 14px;
        font-family: "Quicksand";
        font-size: 17px;
        font-weight: 500;
        height: 48px;
        transition: 0.5s;

        &:hover {
            color: #000;
            background: transparent;

        }
    }
}

.main-footer {
    padding-top: 40px;
    background-image: url('../img/footer.png');

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        justify-content: space-between;
        color: #ffffff;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__list-item {
        position: relative;
        display: block;

        &::before {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            display: block;
            background-color: #f4b600;
            transition: 0.5s;
            transform: scaleX(0);
            bottom: -9px;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }

    &__link {
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        color: #ffffff;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
    }

    &__social-box {
        display: flex;
        margin-left: 14px;
        align-items: center;
    }

    &__social-link {
        background-color: #f4b600;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        color: #252525;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        font-size: 17px;
        margin: 0 4px;

        &:hover {
            color: #f4b600;
            background: transparent;
        }
    }

    &__separator {
        height: 1.5px;
        width: 100%;
        background: rgba(114, 114, 114, 0.726);
        margin-top: 14px;
    }
}

.copyrights {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;

    &__text {
        color: #ffffff;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
    }

    &__link {
        color: #fff;
        font-weight: 600;

        &:hover {
            color: #f4b600;
        }
    }
}

/* media queries */

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .main-header {
        &__link-box {
            font-size: 13px;
        }

        .nav-link {
            font-size: 13px;
        }

        &__title {
            margin-bottom: 160px;
            font-size: 57px;
        }

        .custom-control {
            display: flex;
            justify-content: center;
        }

    }

    .search-box {
        &__submit-box {
            flex-direction: column;
        }
    }

    .default-section {
        &__cell {
            height: 278px;

        }

        &__cell-title--dark {
            font-size: 18px;
        }

        &__panel-desc {
            font-size: 15px;
        }

        &__price {
            font-size: 20px;
        }

        &__separator {
            width: 450px;

        }

        &__recommended-img {
            height: 188px;
        }

    }

    .carousel-box {
        &__cell {
            padding: 20px;
        }
    }

    .tabs {
        &__box {
            .custom-control-label {
                font-size: 11px !important;
            }
        }

        &__title {
            font-size: 23px;
        }

    }

    .main-footer {
        &__link {
            font-size: 14px;
        }
    }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .main-header {
        &__nav-container {
            justify-content: flex-end !important;
        }

        .nav-item {
            justify-content: center;
            height: auto;
        }

        &__social-box {
            justify-content: center;
            display: flex;
            margin-top: 10px;
        }

        .navbar-collapse {
            padding: 10px;
        }

        &__link-box {
            display: flex;
            flex-direction: column;
        }
    }

    .default-section {
        &__cell {
            width: 48%;
        }

        &__big-btn {
            width: 48%;
        }

        &__title--text-left {
            text-align: center;

            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__text {
            text-align: center;
        }

        &__recommended-cell {
            width: 49%;
            margin-bottom: 1%;
        }
    }

    .carousel-box {
        &__cell {
            padding: 12px;
        }

        &__title {
            font-size: 17px;
        }

        &__paragraph {
            font-size: 14px;
            margin: 0;
        }
    }

    .tabs {
        &__col {
            margin-bottom: 13px;
        }

        &__title {
            text-align: center;
        }

        &__separator {
            margin-left: auto;
            margin-right: auto;
        }

        &__text {
            text-align: center;
        }

        &__bold-text {
            text-align: center;
        }
    }

    .newsletter {
        flex-direction: column;
        text-align: center;

        &__form {
            flex-direction: column;
        }

        &__input {
            margin: 0 0 12px 0;
        }
    }

    .main-footer {
        &__logo {
            margin: 0 auto 12px auto;
            display: block;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .carousel-box {
        &__row {
            flex-wrap: wrap;
        }

        &__cell {
            width: 100%;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

    }

    .default-section {
        &__separator {
            display: none;
        }

        &__btn--big {
            margin: 0 auto;
        }

        &__cell {
            width: 100%;
        }

        &__big-btn {
            width: 100%;
        }
    }

    .tabs {
        &__bold-text {
            font-size: 21px;
            margin-bottom: 30px;
        }

        &__link {
            font-size: 20px;
        }

        &__text {
            margin-bottom: 30px;
        }
    }

    .main-footer {
        &__list {
            flex-direction: column;
            text-align: center;
        }

        &__row {
            flex-direction: column;
            text-align: center;
        }

        &__list-item::before { 
            bottom: 0;
        }

    }

    .copyrights {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .carousel-box .carousel-control-next {
        right: 0;
    }

    .carousel-box .carousel-control-prev {
        left: 0;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .main-header {
        &__title {
            font-size: 28px;
            line-height: 1;
            margin-top: 100px;
            margin-bottom: 47px;

            &::before {
                bottom: -22px;
            }
        }
    }

    .search-box {
        padding: 8px;

        &__title {
            font-size: 14px;
        }
    }

    .default-section {
        &__title {
            font-size: 28px;
        }

        &__cell {
            height: 232px;
        }

        &__cell-title {
            font-size: 17px;
            margin: 0;
        }

        &__recommended-cell {
            width: 100%;
        }
        .custom-control {
            margin-top: 7px;
        }
    }

    .tabs {
        &__bold-text {
            font-size: 16px;
        }

        &__text {
            font-size: 16px;
        }

        &__link {
            font-size: 11px;
            height: 35px;

        }

        &__title {
            font-size: 19px;
            height: auto;
        }

        &__content {
            padding: 10px 0;
        }
        &__submit-box {
            flex-direction: column;
        }
        
    }

    .newsletter {
        padding: 12px;
    }

    .main-footer {
        &__row {
            font-size: 14px;
        }
    }

    .copyrights {
        text-align: center;

        &__text {
            font-size: 14px;
        }
    }
}