.main-header {
    font-family: "Toyota Text Regular", sans-serif;

    &__fast-contact-box {
        font-size: 12px;
        font-weight: 600;
        height: 100%;
    }

    &__container {
        align-items: flex-end !important;
        justify-content: unset !important;
        height: 100%;
        position: relative;
    }

    &__logo {
        max-width: 100%;
        height: auto;
    }

    &__links {
        margin-left: 10px;
    }

    &__contact-link {
        font-weight: 900;
        font-family: "Toyota Text Bold", sans-serif;
    }

    .navbar {
        box-shadow: none;
        padding: 0;
        height: 100px;
    }

    .navbar-brand {
        justify-self: flex-start;
        height: 100%;
        display: flex;
        align-items: center;

    }

    .collapse {
        background-color: #f6f6f6;
    }

    &__second-logo-box {
        width: 82px;
        position: relative;
        height: 100px;
        margin-left: -3px;
    }

    &__fast-contact-box {
        padding: 9px 19px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__second-logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        height: auto;
    }

    &__navbar-box {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__contact-link {
        color: #000000;
    }

    &__nav-link {
        font-size: 12px;
    }

    &__nav-link--color {
        color: #e50000 !important;
        font-weight: 700;
    }

    &__hero {
        height: 500px;
        background-image: url('../img/hero.jpg');
        background-size: cover;
        background-position: center;
        padding: 30px 0;
    }

    &__title-box {
        color: #ffffff;
    }

    &__title {
        font-family: "Toyota Display Bold", sans-serif;
        font-weight: 900;
        font-size: 92px;
    }

    &__subtitle {
        font-family: "Toyota Display Regular", sans-serif;
        font-size: 34px;
    }

    &__light-title {
        font-family: "Toyota Display Regular", sans-serif;
        font-size: 86px;
    }

    &__hero-container {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

}

.search {
    background-color: #e50000;
    padding: 40px 0;

    &__text-box {
        text-transform: uppercase;
        color: #f7f7f7;
        font-size: 28px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.486);
    }

    &__bold-title {
        font-family: "Toyota Text Bold", sans-serif;
    }

    &__light-title {
        font-size: 28px;
        font-family: "Toyota Text Regular";
        font-weight: 400;
    }

    &__form-row {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        justify-content: space-between;
    }

    &__top-select {
        border-radius: 15px;
        background-color: #ffffff;
        display: block !important;
        padding: 3px 16px;
        width: 48%;
        border: none;
        margin: 0 1%;
        font-family: "Toyota Text Regular";
        text-transform: uppercase;
    }

    &__text {
        color: #ffffff;
        font-family: "Toyota Text Regular";
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        padding-left: 15px;
    }

    &__down-select {
        border-radius: 15px;
        background-color: #ffffff;
        display: block !important;
        padding: 3px 16px;
        border: none;
        margin: 0 1%;
        font-family: "Toyota Text Regular";
        text-transform: uppercase;
    }

    &__clear-link {
        color: #ffffff;
        font-family: "Toyota Text Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        text-decoration: underline;
        padding-left: 15px;

        &:hover {
            color: #fff;
        }
    }

    &__submit {
        border-radius: 15px;
        background-color: #000000;
        color: #fff;
        height: 29px;
        padding: 0 45px;
        font-family: "Toyota Text Regular";
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        display: block;
        border: none;
        transition: 0.5s;

        &:hover {
            background: rgb(68, 68, 68);
        }
    }
}

.list {
    padding: 10px 0;

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sort {
        color: #343434;

        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__dropdown {
        background-color: #f3f3f3;
        color: #343434;
        font-family: "Toyota Text Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: none;

    }

    .fas {
        margin-left: 10px;
    }

    .pagination {
        margin: 0;
    }

    &__pagination-item {
        border: 1px solid #000;
        line-height: 1;
        margin: 0 4px;
        font-family: "Toyota Text Bold", sans-serif;
        height: 25.5px;
    }

    &__pagination-item--active {
        border: 1px solid #e50000;
    }

    &__pagination-link {
        line-height: 1;
        margin: 0;
        padding: 5px 9px;
    }

    &__pagination-link--active {
        color: #e50000 !important;
    }

    &__pagination-arrow {
        padding: 5px 9px;
    }

    &__box {
        padding: 30px 0;
    }

    &__nav-bar--down {
        justify-content: flex-end;
    }
}

.cell {
    margin-bottom: 30px;
    display: flex;

    &__img {
        height: 300px;
        width: 40%;
        background-size: cover;
        background-position: center;

    }

    &__content-box {
        width: 60%;
        background-image: url('../img/shape1.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        width: 100%;
        color: #e50000;
        font-family: "Toyota Text Bold", sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        width: 40%;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__value {
        color: #000000;
        font-family: "Toyota Text Bold", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__parameter {
        color: #000000;
        font-family: "Toyota Text Regular";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__price-box {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    &__price {
        color: #e50000;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Toyota Text Bold";
        margin: 0;
        text-align: right;
    }

    &__light-text {
        font-family: "Toyota Text Regular", sans-serif;
        font-weight: 400;
    }

    &__desc {
        color: #000000;
        font-family: "Toyota Text Regular";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        display: block;
    }

    .fas {
        margin-left: auto;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        padding: 5px 12px;
        width: 100%;
        font-family: "Toyota Text Regular";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        align-items: center;
        margin-bottom: 7px;
    }

    &__link-box {
        margin-top: auto;
    }

    &__link--red {
        background-color: #e50000;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: #b90000;
        }
    }

    &__link--gray {
        background-color: #dddddd;
        color: #777777;

        &:hover {
            background-color: #c4c4c4;
            color: #fff;
        }
    }
}

.contact {
    padding: 50px 0;

    &__title {
        color: #343434;
        font-family: "Toyota Display Bold", sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }

    &__subtitle {
        color: #b0b0b0;
        font-family: "Toyota Display Regular";
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }

    &__row {
        color: #343434;
        font-family: "Toyota Text Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
    }

    &__row--top {
        margin-bottom: 14.5px;
    }

    &__input {
        background-color: #f3f3f3;
        padding: 6px 17px;
        width: 80%;
        border: none;
    }

    &__select {
        background-color: #f3f3f3;
        padding: 6px 17px;
        width: 80%;
        border: none;
        display: block !important;
    }

    &__desc {
        justify-content: flex-end;
        width: 30%;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__desc--textarea {
        align-items: flex-start;
        padding-top: 8px;
        justify-content: flex-end;
    }

    &__textarea {
        background-color: #f3f3f3;
        width: 80%;
        border: none;
        height: 100%;
    }

    &__checkbox-box {
        margin-left: calc(153.484px + 15px);
    }

    &__text {
        color: #343434;
        font-family: "Toyota Text Regular";
        font-size: 10px;
        font-weight: 400;
        display: inline-block;
        margin: 0;
        width: 56%;
    }

    &__bottom-row {
        margin-top: 45px;
        justify-content: space-between;
    }

    .custom-control-label {
        color: #343434;
        font-family: "Toyota Text Bold", sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    &__submit {
        color: #ffffff;
        font-family: "Toyota Text Regular";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 20px;
        background-color: #e50000;
        border: none;
        padding: 5px 20px;
        cursor: pointer;
    }

    &__second-desc {
        color: #343434;
        font-family: "Toyota Text Regular", sans-serif;
        font-size: 10px;
        font-weight: 400;
        margin-left: calc(153.484px + 15px);
    }
    &__linebreaker {
        display: none;
    }
}

.main-footer {
    background-color: #efefef;
    padding: 50px 0;

    &__text-box {
        display: flex;
        color: #000000;
        font-family: "Toyota Text Regular", sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        align-items: flex-end;
        line-height: 1.1;
        justify-content: center;
        height: 78px;
    }

    &__logo {
        margin: 0 auto;
        display: block;
    }
}


// MEDIA QUERIES

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .contact {
        &__checkbox-box {
            margin-left: 0; 
        }
        &__second-desc {
            margin-left: 0;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .main-header {
        .navbar {
            height: auto;
        }

        &__container {
            align-items: flex-start !important;
        }

        &__nav-link {
            text-align: center;
        }

        &__second-logo-box {
            height: auto;
        }

        &__fast-contact-box {
            display: none;
        }
    }

    .search {
        &__text-box {
            text-align: center;
            margin-bottom: 10px;
        }

        &__form-row {
            flex-wrap: wrap;
        }

        &__down-select {
            margin-bottom: 10px;
        }
    }

    .cell {
        flex-wrap: wrap;

        &__img {
            width: 100%;
            order: 1;
        }

        &__content-box {
            order: 2;
            width: 100%;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .main-header {
        .navbar-brand {
            width: 135px;
            position: absolute;
            top: 0;
            left: 0;
            align-items: flex-start;
            padding-left: 10px;
        }

        &__collapse-box {
            margin-top: 43px;
        }

        &__title {
            font-size: 70px;
        }

        &__light-title {
            font-size: 70px;
        }

        &__subtitle {
            font-size: 26px;
        }
    }

    .list {
        &__nav-bar {
            flex-direction: column;
        }

        &__pagination-box {
            margin-top: 15px;
        }
    }

    .cell {
        flex-wrap: wrap;

        &__row {
            flex-wrap: wrap;
        }

        &__list {
            width: 48%;
        }

        &__price-box {
            width: 48%;
        }
    }

    .contact {
        &__title {
            font-size: 33px;
        }
        &__desc {
            font-size: 12px; 
        }
        &__checkbox-box {
            margin-left: 0;
        }
        &__bottom-row {
            margin-top: 10px;
        }
        &__second-desc {
            margin-left: 0;
        }
        &__text {
            width: 100%;
        }
    }

    .main-footer {
        &__col {
            margin-bottom: 15px;
        }
        &__text-box {
            height: auto;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .main-header {
        &__title {
            font-size: 45px;
        }

        &__light-title {
            font-size: 45px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__hero {
            height: 282px;
        }
    }

    .search {
        padding: 20px 0;

        &__top-select {
            margin-bottom: 10px;
            width: 100%;
        }

        &__form-row:nth-child(2) {
            justify-content: center;
        }
    }

    .cell {
        &__list {
            width: 100%;
        }

        &__price-box {
            width: 100%;
        }

        &__link-box {
            margin-top: 10px;
        }

        &__value {
            font-size: 12px;
        }

        &__parameter {
            font-size: 12px;
        }
        &__title {
            font-size: 28px; 
        }
        &__img {
            height: 196px;
        }
    }
    .contact {
        &__bottom-row {
            margin-left: 0;
            margin-right: 0;
        }

        &__desc {
            font-size: 11px;
        }
        &__linebreaker {
            display: block;
        }
    }
}