html {
  scroll-behavior: smooth;
}
body {
  font-family: unset; }

.main-header__nav-box {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05); }
.main-header__top-navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase; }
.main-header__top-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 9px 0; }
.main-header__link-box {
  font-size: 14px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 85px; }
.main-header__logo-link {
  display: inline-block; }
.main-header .navbar-nav {
  margin: 0; }
.main-header__navbar {
  box-shadow: none;
  padding: 0; }
.main-header__topnav-link {
  color: #f4b600;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }
  .main-header__topnav-link:hover {
    color: #f4b600; }
.main-header__mail-link {
  color: #000000; }
  .main-header__mail-link:hover {
    color: #000000; }
.main-header__lang {
  margin-left: 30px; }
.main-header__social-box {
  margin-left: auto; }
.main-header__social-link {
  background: #000;
  color: #fff;
  height: 26px;
  width: 26px;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 0 3px; }
  .main-header__social-link:hover {
    background: #fff;
    color: #000; }
.main-header .nav-item {
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px; }
  .main-header .nav-item::before {
    background-color: #f4b600;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    transition: 0.5s;
    content: "";
    transform: scaleX(0); }
  .main-header .nav-item:hover::before {
    transform: scaleX(1); }
.main-header .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }
.main-header__background {
  background-image: url("../img/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
.main-header__title {
  text-shadow: 1px 1px 6px rgba(29, 33, 48, 0.1);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  position: relative;
  margin-bottom: 230px;
  margin-top: 150px; }
  .main-header__title::before {
    background-color: #f4b600;
    content: "";
    height: 4px;
    width: 220px;
    display: block;
    position: absolute;
    bottom: -80px; }
.main-header__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px; }
.main-header__option {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400; }

.search-box {
  background-color: #f4b600;
  padding: 30px; }
  .search-box .slider-handle {
    border-radius: 50%;
    background-color: #fff;
    width: 18px;
    height: 18px; }
  .search-box .slider-fill {
    background-color: #fff;
    height: 5px; }
  .search-box .slider {
    background-color: #e6e6e663;
    height: 5px;
    margin-bottom: 10px; }
  .search-box__input-box {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400; }
  .search-box__input {
    background: none;
    border: none;
    box-shadow: none;
    color: #1f1919;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.99px;
    text-transform: uppercase;
    padding: 0;
    height: unset;
    width: unset;
    max-width: 80px;
    margin-bottom: 0; }
  .search-box__input--left {
    text-align: right; }
  .search-box__dash {
    margin-left: 15px; }
  .search-box__title {
    color: #1f1919;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase; }
  .search-box__select {
    display: block !important; }
  .search-box__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .search-box .custom-control-label {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400; }
    .search-box .custom-control-label::before {
      background: transparent;
      border-color: #fff; }
    .search-box .custom-control-label::after {
      background-color: #fff; }
  .search-box .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #c7c7c7;
    background: #c7c7c7; }
  .search-box__btn {
    background-color: #000000;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    border: 2px solid #000000;
    transition: 0.5s; }
    .search-box__btn:hover {
      background: transparent;
      color: #000; }
  .search-box__icon {
    margin-left: 10px; }

.default-section {
  padding: 50px 0; }
  .default-section__title {
    text-align: center;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-bottom: 45px; }
    .default-section__title::before {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 140px;
      content: "";
      background-color: #f4b600; }
  .default-section__title--text-left {
    text-align: left; }
    .default-section__title--text-left::before {
      left: 0;
      transform: translateX(0); }
  .default-section__bold {
    font-weight: 600; }
  .default-section__row {
    display: flex;
    flex-wrap: wrap; }
  .default-section__cell {
    height: 350px;
    width: 31.33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .default-section__cell::before {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 63%);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      content: "";
      position: absolute; }
    .default-section__cell:hover .default-section__movable-panel {
      transform: translateY(0); }
  .default-section__cell-title {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
    z-index: 1000; }
  .default-section__cell-title--dark {
    color: #000000;
    font-size: 16px; }
  .default-section__movable-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 65px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    transition: 0.5s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2000;
    transform: translateY(120%); }
  .default-section__panel-desc {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400; }
  .default-section__price-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .default-section__btn {
    background-color: #000000;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    border: 2px solid #000000;
    transition: 0.5s; }
    .default-section__btn:hover {
      background: transparent;
      color: #000; }
  .default-section__btn--big {
    padding: 10px 30px; }
  .default-section__price {
    color: #f4b600;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 25.82px;
    text-transform: uppercase; }
  .default-section__big-btn {
    background-color: #f4b600;
    text-transform: uppercase;
    padding: 7px 20px;
    color: #1f1919;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #f4b600;
    width: 31.33%;
    margin: 40px auto 0 auto;
    display: block;
    text-align: center; }
    .default-section__big-btn:hover {
      color: #f4b600;
      background: transparent; }
  .default-section__img {
    max-width: 100%;
    height: auto; }
  .default-section__separator {
    background: #c2c2c2;
    height: 2px;
    width: 550px;
    margin: 0 auto 0 0; }
  .default-section__text {
    color: #202020;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px; }
  .default-section__recommended-cell {
    width: 24%;
    margin: 0 0.5%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
    .default-section__recommended-cell:hover {
      box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75); }
  .default-section__recommended-img {
    height: 230px;
    background-position: center;
    background-size: cover; }
  .default-section__recommended-title {
    padding: 13px;
    color: #000000;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase; }

.default-section--background {
  background-color: #f7f7f7; }

.carousel-box__row {
  display: flex;
  justify-content: space-between; }
.carousel-box__cell {
  border: 1px solid #d7d7d7;
  padding: 20px 40px;
  text-align: center;
  background: #ffffff;
  width: 32.33%;
  margin: 0 0.5%; }
.carousel-box__icon-frame {
  background: #000;
  width: 114px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto; }
.carousel-box__title {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 27.58px;
  text-transform: uppercase;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px; }
  .carousel-box__title::before {
    position: absolute;
    height: 3px;
    width: 90px;
    content: "";
    background: #f4b600;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%); }
.carousel-box__paragraph {
  color: #000000;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; }
.carousel-box .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #f4b600;
  color: #000;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  right: -25px; }
.carousel-box .carousel-control-prev {
  width: 50px;
  height: 50px;
  background-color: #f4b600;
  color: #000;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  left: -25px; }

.tabs__box {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 80px; }
.tabs__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  margin: 0; }
.tabs__link {
  text-align: center;
  width: 50%;
  color: #000000;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
  height: 68px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer; }
.tabs__link-active {
  background-color: #f4b600; }
.tabs__content {
  padding: 25px;
  display: none; }
.tabs__content-active {
  display: block; }
.tabs__title {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  height: 70px;
  margin-bottom: 0; }
.tabs__input::placeholder {
  color: #000000;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400; }
.tabs__input {
  border: 1px solid #cccccc; }
.tabs__textarea {
  border: 1px solid #cccccc; }
.tabs__textarea::placeholder {
  color: #000000;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400; }
.tabs__separator {
  display: block;
  height: 1.5px;
  background: #f4b600;
  width: 130px;
  margin-bottom: 30px; }
.tabs__smlink {
  color: #000000; }
  .tabs__smlink:hover {
    color: #f4b600; }
.tabs__text {
  color: #000000;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  display: block;
  letter-spacing: -0.21px;
  margin-bottom: 70px; }
.tabs__bold-text {
  color: #000000;
  font-family: "Lato";
  font-size: 25px;
  font-weight: 700;
  display: block;
  margin-bottom: 70px; }

.newsletter {
  background-color: #f4b600;
  padding: 28px;
  display: flex;
  background-image: url("../img/newsletter-shape.png");
  background-position: center right;
  background-repeat: no-repeat;
  justify-content: space-between; }
  .newsletter__input::placeholder {
    color: #343434;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400; }
  .newsletter__title {
    color: #000000;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; }
  .newsletter__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .newsletter__right {
    display: flex;
    align-items: center;
    padding: 10px; }
  .newsletter__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
  .newsletter__input {
    margin-right: 30px;
    height: 48px;
    margin-bottom: 0;
    padding-left: 10px; }
  .newsletter__input::placeholder {
    color: #343434;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400; }
  .newsletter__submit {
    background-color: #000000;
    text-transform: uppercase;
    border: 2px solid #000;
    color: #fff;
    padding: 4px 14px;
    font-family: "Quicksand";
    font-size: 17px;
    font-weight: 500;
    height: 48px;
    transition: 0.5s; }
    .newsletter__submit:hover {
      color: #000;
      background: transparent; }

.main-footer {
  padding-top: 40px;
  background-image: url("../img/footer.png"); }
  .main-footer__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; }
  .main-footer__list-item {
    position: relative;
    display: block; }
    .main-footer__list-item::before {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      display: block;
      background-color: #f4b600;
      transition: 0.5s;
      transform: scaleX(0);
      bottom: -9px; }
    .main-footer__list-item:hover::before {
      transform: scaleX(1); }
  .main-footer__link {
    color: #ffffff; }
    .main-footer__link:hover {
      color: #ffffff; }
  .main-footer__row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400; }
  .main-footer__social-box {
    display: flex;
    margin-left: 14px;
    align-items: center; }
  .main-footer__social-link {
    background-color: #f4b600;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 17px;
    margin: 0 4px; }
    .main-footer__social-link:hover {
      color: #f4b600;
      background: transparent; }
  .main-footer__separator {
    height: 1.5px;
    width: 100%;
    background: rgba(114, 114, 114, 0.726);
    margin-top: 14px; }

.copyrights {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center; }
  .copyrights__text {
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400; }
  .copyrights__link {
    color: #fff;
    font-weight: 600; }
    .copyrights__link:hover {
      color: #f4b600; }

/* media queries */
@media (max-width: 1199px) {
  .main-header__link-box {
    font-size: 13px; }
  .main-header .nav-link {
    font-size: 13px; }
  .main-header__title {
    margin-bottom: 160px;
    font-size: 57px; }
  .main-header .custom-control {
    display: flex;
    justify-content: center; }

  .search-box__submit-box {
    flex-direction: column; }

  .default-section__cell {
    height: 278px; }
  .default-section__cell-title--dark {
    font-size: 12px; }
  .default-section__panel-desc {
    font-size: 15px; }
  .default-section__price {
    font-size: 20px; }
  .default-section__separator {
    width: 450px; }
  .default-section__recommended-img {
    height: 188px; }

  .carousel-box__cell {
    padding: 20px; }

  .tabs__box .custom-control-label {
    font-size: 11px !important; }
  .tabs__title {
    font-size: 23px; }

  .main-footer__link {
    font-size: 14px; } }
@media (max-width: 991px) {
  .main-header__nav-container {
    justify-content: flex-end !important; }
  .main-header .nav-item {
    justify-content: center;
    height: auto; }
  .main-header__social-box {
    justify-content: center;
    display: flex;
    margin-top: 10px; }
  .main-header .navbar-collapse {
    padding: 10px; }
  .main-header__link-box {
    display: flex;
    flex-direction: column; }

  .default-section__cell {
    width: 48%; }
  .default-section__big-btn {
    width: 48%; }
  .default-section__title--text-left {
    text-align: center; }
    .default-section__title--text-left::before {
      left: 50%;
      transform: translateX(-50%); }
  .default-section__text {
    text-align: center; }
  .default-section__recommended-cell {
    width: 49%;
    margin-bottom: 1%; }

  .carousel-box__cell {
    padding: 12px; }
  .carousel-box__title {
    font-size: 17px; }
  .carousel-box__paragraph {
    font-size: 14px;
    margin: 0; }

  .tabs__col {
    margin-bottom: 13px; }
  .tabs__title {
    text-align: center; }
  .tabs__separator {
    margin-left: auto;
    margin-right: auto; }
  .tabs__text {
    text-align: center; }
  .tabs__bold-text {
    text-align: center; }

  .newsletter {
    flex-direction: column;
    text-align: center; }
    .newsletter__form {
      flex-direction: column; }
    .newsletter__input {
      margin: 0 0 12px 0; }

  .main-footer__logo {
    margin: 0 auto 12px auto;
    display: block; } }
@media (max-width: 767px) {
  .carousel-box__row {
    flex-wrap: wrap; }
  .carousel-box__cell {
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%; }

  .default-section__separator {
    display: none; }
  .default-section__btn--big {
    margin: 0 auto; }
  .default-section__cell {
    width: 100%; }
  .default-section__big-btn {
    width: 100%; }

  .tabs__bold-text {
    font-size: 21px;
    margin-bottom: 30px; }
  .tabs__link {
    font-size: 20px; }
  .tabs__text {
    margin-bottom: 30px; }

  .main-footer__list {
    flex-direction: column;
    text-align: center; }
  .main-footer__row {
    flex-direction: column;
    text-align: center; }
  .main-footer__list-item::before {
    bottom: 0; }

  .copyrights {
    flex-direction: column; } }
@media (max-width: 600px) {
  .carousel-box .carousel-control-next {
    right: 0; }

  .carousel-box .carousel-control-prev {
    left: 0; } }
@media (max-width: 575px) {
  .main-header__title {
    font-size: 28px;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 47px; }
    .main-header__title::before {
      bottom: -22px; }

  .search-box {
    padding: 8px; }
    .search-box__title {
      font-size: 14px; }

  .default-section__title {
    font-size: 28px; }
  .default-section__cell {
    height: 232px; }
  .default-section__cell-title {
    font-size: 17px;
    margin: 0; }
  .default-section__recommended-cell {
    width: 100%; }
  .default-section .custom-control {
    margin-top: 7px; }

  .tabs__bold-text {
    font-size: 16px; }
  .tabs__text {
    font-size: 16px; }
  .tabs__link {
    font-size: 11px;
    height: 35px; }
  .tabs__title {
    font-size: 19px;
    height: auto; }
  .tabs__content {
    padding: 10px 0; }
  .tabs__submit-box {
    flex-direction: column; }

  .newsletter {
    padding: 12px; }

  .main-footer__row {
    font-size: 14px; }

  .copyrights {
    text-align: center; }
    .copyrights__text {
      font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.info {
  background: white;
  position: absolute;
  top: 0;
  left: 40%;
  border: 2px solid green;
  border-top: 0;
  border-radius: 3px;
  padding: 10px;
}
.info p {

  margin: 0;
}

.accordion.md-accordion.accordion-5 .card .card-header {
  background-color: #f4b600;
}

.icon-color {
  color: #f4b600;
}

.btn-color {
  background-color: #f4b600;
}

.form-check-input[type="checkbox"]:checked + label::before, label.btn input[type="checkbox"]:checked + label::before {
  border-right: 2px solid #f4b600;
  border-bottom: 2px solid #f4b600;
}
.md-form input[type="date"]:focus:not([readonly]), .md-form input[type="datetime-local"]:focus:not([readonly]), .md-form input[type="email"]:focus:not([readonly]), .md-form input[type="number"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form input[type="search"]:focus:not([readonly]), .md-form input[type="tel"]:focus:not([readonly]), .md-form input[type="text"]:focus:not([readonly]), .md-form input[type="time"]:focus:not([readonly]), .md-form input[type="url"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #f4b600;

border-bottom: 1px solid #f4b600;
}
.md-form input[type="date"]:focus:not([readonly]) + label, .md-form input[type="datetime-local"]:focus:not([readonly]) + label, .md-form input[type="email"]:focus:not([readonly]) + label, .md-form input[type="number"]:focus:not([readonly]) + label, .md-form input[type="password"]:focus:not([readonly]) + label, .md-form input[type="search-md"]:focus:not([readonly]) + label, .md-form input[type="search"]:focus:not([readonly]) + label, .md-form input[type="tel"]:focus:not([readonly]) + label, .md-form input[type="text"]:focus:not([readonly]) + label, .md-form input[type="time"]:focus:not([readonly]) + label, .md-form input[type="url"]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #f4b600;
}