<h3 style="font-weight: bold;">Link do odzyskiwania hasła do panelu Krematroium:</h3>
<h3>Witaj {first_name}!</h3>
<p>Klikając w poniższy link przeniesiemy Cię do strony na której będziesz mógł zmienić swoje hasło</p>
<p><a href="http://localhost/CI/panel/new_password?id={id}">http://localhost/CI/panel/new_password?id={id}</a></p>



