@font-face {
    font-family: "Toyota Text Bold";
    src: url('../font/toyotatext_bd.ttf') format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Toyota Text Regular";
    src: url('../font/toyotatext_rg.ttf') format("truetype"); 
    font-weight: normal; 
}

@font-face {
    font-family: "Toyota Display Regular";
    src: url('../font/toyotadisplay_rg.ttf') format("truetype"); 
    font-weight: normal; 
}

@font-face {
    font-family: "Toyota Display Bold";
    src: url('../font/toyotadisplay_bd.ttf') format("truetype");  
    font-weight: normal; 
}