.main-header {
  font-family: "Toyota Text Regular", sans-serif; }
  .main-header__fast-contact-box {
    font-size: 12px;
    font-weight: 600;
    height: 100%; }
  .main-header__container {
    align-items: flex-end !important;
    justify-content: unset !important;
    height: 100%;
    position: relative; }
  .main-header__logo {
    max-width: 100%;
    height: auto; }
  .main-header__links {
    margin-left: 10px; }
  .main-header__contact-link {
    font-weight: 900;
    font-family: "Toyota Text Bold", sans-serif; }
  .main-header .navbar {
    box-shadow: none;
    padding: 0;
    height: 100px; }
  .main-header .navbar-brand {
    justify-self: flex-start;
    height: 100%;
    display: flex;
    align-items: center; }
  .main-header .collapse {
    background-color: #f6f6f6; }
  .main-header__second-logo-box {
    width: 82px;
    position: relative;
    height: 100px;
    margin-left: -3px; }
  .main-header__fast-contact-box {
    padding: 9px 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .main-header__second-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: auto; }
  .main-header__navbar-box {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 100%; }
  .main-header__contact-link {
    color: #000000; }
  .main-header__nav-link {
    font-size: 12px; }
  .main-header__nav-link--color {
    color: #e50000 !important;
    font-weight: 700; }
  .main-header__hero {
    height: 500px;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px 0; }
  .main-header__title-box {
    color: #ffffff; }
  .main-header__title {
    font-family: "Toyota Display Bold", sans-serif;
    font-weight: 900;
    font-size: 92px; }
  .main-header__subtitle {
    font-family: "Toyota Display Regular", sans-serif;
    font-size: 34px; }
  .main-header__light-title {
    font-family: "Toyota Display Regular", sans-serif;
    font-size: 86px; }
  .main-header__hero-container {
    display: flex;
    align-items: flex-end;
    height: 100%; }

.search {
  background-color: #e50000;
  padding: 40px 0; }
  .search__text-box {
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 28px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.486); }
  .search__bold-title {
    font-family: "Toyota Text Bold", sans-serif; }
  .search__light-title {
    font-size: 28px;
    font-family: "Toyota Text Regular";
    font-weight: 400; }
  .search__form-row {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between; }
  .search__top-select {
    border-radius: 15px;
    background-color: #ffffff;
    display: block !important;
    padding: 3px 16px;
    width: 48%;
    border: none;
    margin: 0 1%;
    font-family: "Toyota Text Regular";
    text-transform: uppercase; }
  .search__text {
    color: #ffffff;
    font-family: "Toyota Text Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    padding-left: 15px; }
  .search__down-select {
    border-radius: 15px;
    background-color: #ffffff;
    display: block !important;
    padding: 3px 16px;
    border: none;
    margin: 0 1%;
    font-family: "Toyota Text Regular";
    text-transform: uppercase; }
  .search__clear-link {
    color: #ffffff;
    font-family: "Toyota Text Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    text-decoration: underline;
    padding-left: 15px; }
    .search__clear-link:hover {
      color: #fff; }
  .search__submit {
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
    height: 29px;
    padding: 0 45px;
    font-family: "Toyota Text Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    display: block;
    border: none;
    transition: 0.5s; }
    .search__submit:hover {
      background: #444444; }

.list {
  padding: 10px 0; }
  .list__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .list__sort {
    color: #343434;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
  .list__dropdown {
    background-color: #f3f3f3;
    color: #343434;
    font-family: "Toyota Text Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: none; }
  .list .fas {
    margin-left: 10px; }
  .list .pagination {
    margin: 0; }
  .list__pagination-item {
    border: 1px solid #000;
    line-height: 1;
    margin: 0 4px;
    font-family: "Toyota Text Bold", sans-serif;
    height: 25.5px; }
  .list__pagination-item--active {
    border: 1px solid #e50000; }
  .list__pagination-link {
    line-height: 1;
    margin: 0;
    padding: 5px 9px; }
  .list__pagination-link--active {
    color: #e50000 !important; }
  .list__pagination-arrow {
    padding: 5px 9px; }
  .list__box {
    padding: 30px 0; }
  .list__nav-bar--down {
    justify-content: flex-end; }

.cell {
  margin-bottom: 30px;
  display: flex; }
  .cell__img {
    height: 300px;
    width: 40%;
    background-size: cover;
    background-position: center; }
  .cell__content-box {
    width: 60%;
    background-image: url("../img/shape1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .cell__title {
    width: 100%;
    color: #e50000;
    font-family: "Toyota Text Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase; }
  .cell__row {
    display: flex;
    justify-content: space-between; }
  .cell__list {
    width: 40%; }
  .cell__list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px; }
  .cell__value {
    color: #000000;
    font-family: "Toyota Text Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .cell__parameter {
    color: #000000;
    font-family: "Toyota Text Regular";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
  .cell__price-box {
    width: 40%;
    display: flex;
    flex-direction: column; }
  .cell__price {
    color: #e50000;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Toyota Text Bold";
    margin: 0;
    text-align: right; }
  .cell__light-text {
    font-family: "Toyota Text Regular", sans-serif;
    font-weight: 400; }
  .cell__desc {
    color: #000000;
    font-family: "Toyota Text Regular";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    display: block; }
  .cell .fas {
    margin-left: auto; }
  .cell__link {
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
    width: 100%;
    font-family: "Toyota Text Regular";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 7px; }
  .cell__link-box {
    margin-top: auto; }
  .cell__link--red {
    background-color: #e50000;
    color: #fff; }
    .cell__link--red:hover {
      color: #fff;
      background-color: #b90000; }
  .cell__link--gray {
    background-color: #dddddd;
    color: #777777; }
    .cell__link--gray:hover {
      background-color: #c4c4c4;
      color: #fff; }

.contact {
  padding: 50px 0; }
  .contact__title {
    color: #343434;
    font-family: "Toyota Display Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center; }
  .contact__subtitle {
    color: #b0b0b0;
    font-family: "Toyota Display Regular";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px; }
  .contact__row {
    color: #343434;
    font-family: "Toyota Text Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px; }
  .contact__row--top {
    margin-bottom: 14.5px; }
  .contact__input {
    background-color: #f3f3f3;
    padding: 6px 17px;
    width: 80%;
    border: none; }
  .contact__select {
    background-color: #f3f3f3;
    padding: 6px 17px;
    width: 80%;
    border: none;
    display: block !important; }
  .contact__desc {
    justify-content: flex-end;
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 10px; }
  .contact__desc--textarea {
    align-items: flex-start;
    padding-top: 8px;
    justify-content: flex-end; }
  .contact__textarea {
    background-color: #f3f3f3;
    width: 80%;
    border: none;
    height: 100%; }
  .contact__checkbox-box {
    margin-left: calc(153.484px + 15px); }
  .contact__text {
    color: #343434;
    font-family: "Toyota Text Regular";
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    width: 56%; }
  .contact__bottom-row {
    margin-top: 45px;
    justify-content: space-between; }
  .contact .custom-control-label {
    color: #343434;
    font-family: "Toyota Text Bold", sans-serif;
    font-size: 14px;
    font-weight: 700; }
  .contact__submit {
    color: #ffffff;
    font-family: "Toyota Text Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #e50000;
    border: none;
    padding: 5px 20px;
    cursor: pointer; }
  .contact__second-desc {
    color: #343434;
    font-family: "Toyota Text Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-left: calc(153.484px + 15px); }
  .contact__linebreaker {
    display: none; }

.main-footer {
  background-color: #efefef;
  padding: 50px 0; }
  .main-footer__text-box {
    display: flex;
    color: #000000;
    font-family: "Toyota Text Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    align-items: flex-end;
    line-height: 1.1;
    justify-content: center;
    height: 78px; }
  .main-footer__logo {
    margin: 0 auto;
    display: block; }

@media (max-width: 1199px) {
  .contact__checkbox-box {
    margin-left: 0; }
  .contact__second-desc {
    margin-left: 0; } }
@media (max-width: 991px) {
  .main-header .navbar {
    height: auto; }
  .main-header__container {
    align-items: flex-start !important; }
  .main-header__nav-link {
    text-align: center; }
  .main-header__second-logo-box {
    height: auto; }
  .main-header__fast-contact-box {
    display: none; }

  .search__text-box {
    text-align: center;
    margin-bottom: 10px; }
  .search__form-row {
    flex-wrap: wrap; }
  .search__down-select {
    margin-bottom: 10px; }

  .cell {
    flex-wrap: wrap; }
    .cell__img {
      width: 100%;
      order: 1; }
    .cell__content-box {
      order: 2;
      width: 100%; } }
@media (max-width: 767px) {
  .main-header .navbar-brand {
    width: 135px;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    padding-left: 10px; }
  .main-header__collapse-box {
    margin-top: 43px; }
  .main-header__title {
    font-size: 70px; }
  .main-header__light-title {
    font-size: 70px; }
  .main-header__subtitle {
    font-size: 26px; }

  .list__nav-bar {
    flex-direction: column; }
  .list__pagination-box {
    margin-top: 15px; }

  .cell {
    flex-wrap: wrap; }
    .cell__row {
      flex-wrap: wrap; }
    .cell__list {
      width: 48%; }
    .cell__price-box {
      width: 48%; }

  .contact__title {
    font-size: 33px; }
  .contact__desc {
    font-size: 12px; }
  .contact__checkbox-box {
    margin-left: 0; }
  .contact__bottom-row {
    margin-top: 10px; }
  .contact__second-desc {
    margin-left: 0; }
  .contact__text {
    width: 100%; }

  .main-footer__col {
    margin-bottom: 15px; }
  .main-footer__text-box {
    height: auto; } }
@media (max-width: 575px) {
  .main-header__title {
    font-size: 45px; }
  .main-header__light-title {
    font-size: 45px; }
  .main-header__subtitle {
    font-size: 18px; }
  .main-header__hero {
    height: 282px; }

  .search {
    padding: 20px 0; }
    .search__top-select {
      margin-bottom: 10px;
      width: 100%; }
    .search__form-row:nth-child(2) {
      justify-content: center; }

  .cell__list {
    width: 100%; }
  .cell__price-box {
    width: 100%; }
  .cell__link-box {
    margin-top: 10px; }
  .cell__value {
    font-size: 12px; }
  .cell__parameter {
    font-size: 12px; }
  .cell__title {
    font-size: 28px; }
  .cell__img {
    height: 196px; }

  .contact__bottom-row {
    margin-left: 0;
    margin-right: 0; }
  .contact__desc {
    font-size: 11px; }
  .contact__linebreaker {
    display: block; } }

/*# sourceMappingURL=style.css.map */
