<h3>Nowy adres e-mailowy</h3>
<h3 style="font-weight: bold;">Dane kontaktowe:</h3>
<p>Imię: {first_name}</p>
<p>Adres e-mail: {liame}</p>
<p>Przetwarzanie danych: {rodo}</p>
<p>Zgoda na kontakt telefoniczny: {rodo1}</p>
<p>Temat: {topic}</p>
<p>Wiadomość: {message}</p>



